table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 35px auto;
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 4px 16px -4px #2C5F2D;
}
table tr{
    border: 1px solid black;
    padding: 12px;
}
table td, th{
    border-bottom: 1px solid black;
    padding: 12px;
    border-right: 1px solid black;
    text-align: center;
}
.label{
    font-weight: 700;
    background-color: #97BC62;
}
.Sem{
    color: white;
    font-size: large;
    text-align: center;
    font-weight: 700;
    background-color: #2C5F2D;
}
.SemHead{
    text-align: center;
}
table tr:hover{
    background-color: #97BC62;
}